<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title><%= subject %></title>
</head>

<body style="margin: 0;padding: 0;">
    <table cellspacing="0" cellpadding="0" style="width: 100%;margin: 0;padding: 0;">
        <tbody
            style="background:linear-gradient(180deg,#e7faff,#fff 50%,#e7faff);padding: 0;margin: 0;width: 100%;font-family: 'Poppins', sans-serif;">
            <tr>
                <td>
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="padding:20px 40px 20px" align="center">
                                <a style="text-decoration: none;" target="_blank" href="https://utside.com/">
                                    <img style="max-width: 320px;"
                                        src="https://utside.com/static/media/logo.f369e4ba787b728b68c7.png" alt="logo">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0"
                        style="background-color: #fff;border-radius: 8px;max-width: 600px;margin: 0 auto;width: 100%;padding: 0px 40px 38px;">
                        <tr>
                            <td style="line-height: 28px;font-size: 16px;">
                                <br>
                                <%- emailContent %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;text-align: center;padding: 38px 40px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="margin-bottom: 0px;display: inline-table;">
                                <a style="color: #358e9d;font-weight: 500;text-decoration: none;font-size: 14px;"
                                    href="mailto:enquiry@utside.com">enquiry@utside.com</a>
                            </td>
                            <td style="width: 10px;display: inline-table;color: #358e9d;margin: 0 2px;">
                                <span>
                                    |
                                </span>
                            </td>
                            <td style="display: inline-table;"><a target="_blank"
                                    style="color: #358e9d;text-decoration: none;font-weight: 500;font-size: 14px;"
                                    href="https://utside.com/">Utside.com</a>
                            </td>
                            <td style="width: 10px;display: inline-table;color: #358e9d;margin: 0 2px;">
                                <span>
                                    |
                                </span>
                            </td>

                            <td style="display: inline-table;"><a
                                    style="color: #358e9d;text-decoration: none;font-weight: 500;font-size: 14px;"
                                    href="tel:+918879988522">+91 8879988522</a></td>
                        </tr>

                        <tr style="margin-top: 10px;display: inline-table;">
                            <td style="width: 30px;display: inline-table;">
                                <a target="_blank" href="https://www.facebook.com/utsidecampus/">
                                    <img style="width:22px;height:22px;line-height: 0;"
                                        src="https://i.postimg.cc/YS88zvw0/facebook.png" alt="">
                                </a>
                            </td>
                            <td style="width: 30px;display: inline-table;">
                                <a target="_blank" href="https://www.youtube.com/channel/UC8mXrCFzcVxouhbVbtu4hPg">
                                    <img style="width:22px;height:auto;line-height: 0;"
                                        src="https://i.postimg.cc/GmdZt57V/youtube.png" alt="">
                                </a>
                            </td>
                            <td style="width: 30px;display: inline-table;">
                                <a target="_blank" href="https://www.instagram.com/utside_campus/">
                                    <img style="width:22px;height:22px;line-height: 0;"
                                        src="https://i.postimg.cc/9QBZ9sGY/instagram.png" alt="">
                                </a>
                            </td>
                            <td style="width: 30px;display: inline-table;">
                                <a target="_blank" href="https://www.linkedin.com/company/utside/">
                                    <img style="width:22px;height:22px;line-height: 0;"
                                        src="https://i.postimg.cc/g0JXZjcG/linkedin-1.png" alt="">
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="font-size: 12px;margin-top: 0px;display: inline-table;color: #999999;">
                                <br>
                                Copyright © Utside 2022. All rights reserved
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>